#contact_content
  %h1 Contact
  #contact_form
    = form_for @message, url: {controller: "messages", action: "create"}, method: "post" do |f|
      .col-md-12.col-sm-12.col-xs-12.contact_row
        .field
          = f.label :name
          %br
          = f.text_field :name
      .col-md-12.col-sm-12.col-xs-12.contact_row
        .field
          = f.label :email
          %br
          = f.text_field :email
      .col-md-12.col-sm-12.col-xs-12.contact_row
        .field
          = f.label :subject
          %br
          = f.text_field :subject, :value => params[:subject]
      .col-md-12.col-sm-12.col-xs-12.contact_row
        .field
          = f.label :content, "Message"
          %br
          = f.text_area :content
        .actions= f.submit "Send Message", :id => "contact_form_submit_button", :value => "Send"