#music_content
  %p
    GRTST HTS will soon be available at a number of digital outlets. Hang out with
    %span.hthns HTHNS
    on social media to stay posted:

  %ul
    %li
      .col-md-1.col-sm-2.col-xs-2.social_icon
        = image_tag 'external_logos/facebook_icon.png'
      .col-md-11.col-sm-10.col-xs-10.social_link
        = link_to 'Facebook', 'http://www.facebook.com/hthns', :target => '_blank', :class => 'facebook_link'
    %li
      .col-md-1.col-sm-2.col-xs-2.social_icon
        = image_tag 'external_logos/twitter_icon.png'
      .col-md-11.col-sm-10.col-xs-10.social_link
        = link_to 'Twitter', 'http://www.twitter.com/hthnsmusic', :target => '_blank', :class => 'twitter_link'
    %li
      .col-md-1.col-sm-2.col-xs-2.social_icon
        = image_tag 'external_logos/instagram_icon.png'
      .col-md-11.col-sm-10.col-xs-10.social_link
        = link_to 'Instagram', 'http://www.instagram.com/hthns', :target => '_blank', :class => 'instagram_link'
