- posts.each do |post|
  .post.col-md-12.col-sm-12.col-xs-12{onclick: "displayPostContent('#{post.title.gsub(/\s+/, "")}')", id: "#{post.title.downcase.gsub(/\s+/, "")}"}
    .post_heading
      .col-md-4.col-sm-4.col-sm-12
        = post.created_at.strftime("%d %b %y")
      .col-md-4.col-sm-4.col-xs-12
        = post.title
      .col-md-4.col-sm-4.col-xs-12
        = post.author
    .col-md-12.col-sm-12.col-xs-12
      .post_content{id: "#{post.title.gsub(/\s+/, "")}"}
        = post.content