#social_content
  .col-md-3.col-sm-3.col-xs-3
    = link_to 'https://www.facebook.com/hthns', target: "_blank" do
      = image_tag 'external_logos/facebook.png'
  .col-md-3.col-sm-3.col-xs-3
    = link_to 'https://twitter.com/hthnsmusic', target: "_blank" do
      = image_tag 'external_logos/twitter.png'
  .col-md-3.col-sm-3.col-xs-3
    = link_to 'https://instagram.com/hthns', target: "_blank" do
      = image_tag 'external_logos/instagram.png'
  .col-md-3.col-sm-3.col-xs-3
    = link_to 'https://www.youtube.com/channel/UCuT5fPodRtSLdxXHLAxw4WA', target: "_blank" do
      = image_tag 'external_logos/youtube.png'
