.row#heading_row
  = image_tag 'backgrounds/hthns_bar.png', :style => "width: 87.5%;"

.row#nav_and_content_row

  .col-md-2.col-md-offset-1.col-sm-12#nav_column
    %nav
      %ul
        - categories = ["bio", "music", "videos", "words", "pictures", "contact"]
        - categories.each do |category|
          %li
            = link_to "#{category}", display_content_path(:section => "#{category}"), :id => "#{category}_link", :remote => true

  .col-md-9.col-sm-12.col-xs-12
    #content
      = image_tag @random_image_url, id: "landing_image"

.row#audio_row
  %nav.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
      #audio_player
        = render 'audio_player'
