#wrapper
  .row#heading_row
    .col-md-12.col-sm-12.col-xs-12

  .row
    .col-md-2.col-sm-12#nav_column
      %nav
        %ul
          - categories = ["bio", "music", "videos", "words", "pictures", "contact"]
          - categories.each do |category|
            %li
              = link_to "#{category}", display_content_path(:section => "#{category}"), :id => "#{category}_link", :remote => true

    #main.col-md-10.col-sm-12.col-xs-12#content_column
      #content
        = image_tag @random_image_url, id: "landing_image"

  .row
    #audio_row
      #audio_player
        = render 'audio_player'
