#wrapper
  .row
    .col-md-6.col-sm-12
      #heading
        %h1 
          = link_to "HEATHENS", display_content_path(:section => "landing"), :remote => true
    .col-md-6.col-sm-12
      %nav
        %ul
          - categories = ["bio", "music", "videos", "words", "pictures", "contact"]
          - categories.each do |category|
            %li
              = link_to image_tag("#{category}.png", id: "#{category}_icon"), display_content_path(:section => "#{category}"), :remote => true

  .col-md-12.col-sm-12
    .row#main
      #content
        #landing_image
          = image_tag 'heathens_promo.png'
