.row#heading_row
  = link_to display_content_path(:section => "words"), :remote => true do
    .col-md-9.col-md-pull-1
      #hthns_bar
        = image_tag 'backgrounds/hthns_bar.jpg'
    .col-md-3.col-md-pull-1
      #hthns_word
        = image_tag 'backgrounds/htns_word.png'

.row#nav_and_content_row

  .col-md-offset-1.col-md-2.col-sm-offset-1.col-sm-2.col-xs-12#nav_column
    #standard_nav
      = render 'layouts/standard_nav'
    #mobile_nav
      = render 'layouts/mobile_nav'

  .col-md-9.col-sm-9.col-xs-12
    #content
      = render 'words'

.row#audio_row
  %nav.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
      #audio_player
        = render 'layouts/audio_player'

:javascript

  function toggleExpanded() {
    $("#expanded").slideToggle("medium");
  }
