.row#heading_row
  #hthns_bar
    = image_tag 'backgrounds/hthns_bar.png'
  #hthns_word
    = image_tag 'backgrounds/hthns_word.png'

.row#nav_and_content_row

  .col-md-2.col-md-offset-1.col-sm-12#nav_column
    #standard_nav
      = render 'layouts/standard_nav'
    #mobile_nav
      = render 'layouts/mobile_nav'

  .col-md-9.col-sm-12.col-xs-12
    #content
      = image_tag @random_image_url, id: "landing_image"

.row#audio_row
  %nav.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
      #audio_player
        = render 'layouts/audio_player'

:javascript

  function toggleExpanded() {
    $("#expanded").slideToggle("medium");
  }
