%nav
  %ul
    - categories = ["bio", "words", "music", "videos", "social", "contact"]
    - categories.each do |category|
      - if category == "social"
        %li
          = link_to "social", social_path, :id => "social_link", :remote => true
      - else
        %li
          = link_to "#{category}", display_content_path(:section => "#{category}"), :id => "#{category}_link", :remote => true
